    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Employees</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Employees</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">

        
  
        <!-- Default box -->
        <div class="card">
         <div class="card-header d-flex justify-content-end">
          <button class="btn btn-primary" (click)="addEmployee()">Add Employee</button>
         </div>
         
          <div class="card-body">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-hover dataTable dtr-inline">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>First name</th>
                  <th>Last name</th>
                  <th>Email</th>
                  <th>Birth Date</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let employee of employees">
                  <td>{{ employee.username }}</td>
                  <td>{{ employee.firstName }}</td>
                  <td>{{ employee.lastName }}</td>
                  <td>{{ employee.email }}</td>
                  <td>{{ employee.birthDate }}</td>
                  <td class="d-flex justify-content-center">
                    <button class="btn btn-default mr-1" (click)="showEmployee(employee)">Show</button>
                    <button class="btn btn-warning mr-1" (click)="editEmployee(employee)">Edit</button>
                    <button class="btn btn-danger" (click)="deleteEmployee(employee)">Delete</button>
                  </td>
                  
                </tr>
              </tbody>
            </table>
            
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->


       <ng-template #EmployeeModal let-modal>
         <div class="modal-header">
           <h5 class="modal-title">Add Employee</h5>
           <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
           <form (submit)="saveEmployee()">
             <div class="form-group">
               <label for="username">Username:</label>
               <input type="text" id="username" class="form-control" [(ngModel)]="username" [ngModelOptions]="{ standalone: true }" [disabled]="disable">
             </div>
       
             <div class="form-group">
               <label for="firstName">First Name:</label>
               <input type="text" id="firstName" class="form-control" [(ngModel)]="firstName" [ngModelOptions]="{ standalone: true }" [disabled]="disable">
             </div>
       
             <div class="form-group">
               <label for="lastName">Last Name:</label>
               <input type="text" id="lastName" class="form-control" [(ngModel)]="lastName" [ngModelOptions]="{ standalone: true }" [disabled]="disable">
             </div>
       
             <div class="form-group">
               <label for="email">Email:</label>
               <input type="email" id="email" class="form-control" [(ngModel)]="email" [ngModelOptions]="{ standalone: true }" 
                   pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                   [ngClass]="{ 'is-invalid': email && !emailIsValid() }" [disabled]="disable">
               <div *ngIf="email && !emailIsValid()" class="invalid-feedback">
                   Please enter a valid email address.
               </div>
               
             </div>
       
             <div class="form-group">
               <label for="birthDate">Birth Date:</label>
               <input type="date" id="birthDate" class="form-control" [(ngModel)]="birthDate" [ngModelOptions]="{ standalone: true }" max="{{getCurrentDate()}}" [disabled]="disable">
               
             </div>
       
             <div class="form-group">
               <label for="basicSalary">Basic Salary:</label>
               <input type="number" id="basicSalary" class="form-control" [(ngModel)]="basicSalary" [ngModelOptions]="{ standalone: true }" [disabled]="disable">
             </div>
       
             <div class="form-group">
               <label for="status">Status:</label>
               <input type="text" id="status" class="form-control" [(ngModel)]="status" [ngModelOptions]="{ standalone: true }" [disabled]="disable">
             </div>
       
            <div class="form-group">
              <label for="group">Group:</label>
              <select id="group" class="form-control" [(ngModel)]="group" [ngModelOptions]="{ standalone: true }" [disabled]="disable">
                <option *ngFor="let department of departments" [value]="department">{{ department }}</option>
                <!-- Add more options as needed -->
              </select>
            </div>
            
       
             <div class="form-group">
               <label for="description">Description:</label>
               <input type="text" id="description" class="form-control" [(ngModel)]="description" [ngModelOptions]="{ standalone: true }" [disabled]="disable">
             </div>
       
             <div class="row">
               <div class="col-md-6"> <!-- adjust the column size as per your layout -->
                 <button *ngIf="disable; else saveCancelButtons" type="button" class="btn btn-success" (click)="modal.dismiss('Cross click')">OK</button>
                 <ng-template #saveCancelButtons>
                   <button type="submit" class="btn btn-primary mr-2">Save</button>
                   <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Cancel</button>
                 </ng-template>
               </div>
             </div>
             
           </form>
         </div>
       </ng-template>
       
       
  
      </section>
      <!-- /.content -->