
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
  <app-navbar></app-navbar>

  <app-sidebar></app-sidebar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
  <!-- /.content-wrapper -->

  <app-footer></app-footer>

</div>
<!-- ./wrapper -->

</body>
